@import 'hero';
.logo{
    
    padding: 2rem 1rem;
    @include desktop-view {
        padding: 0 rem;
        width: 0;
    }

    #logo{
        height: 2rem;
        @include desktop-view{
            height: 4rem;
            width: auto;
        }
    }
}