//Colors
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);
$white: #fff;

//Display sizes
$mobile-width: 23.4375rem;
$mobile-height: 41.6875rem;
$desktop-width: 64rem;
$desktop-height: 50rem;

