@import 'variables';
@import 'logo';
@import 'hero';

html{
    background-color: $violet;
    color: #fff;
    box-sizing: border-box;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    line-height: 1.6;
    background-image:url("/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    @include desktop-view {
        background-image: url("/images/bg-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.container{
    display: block;
    height: 100vh;
    width: 100vw;
    @include desktop-view{
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    #mockup{
        height: 17rem;
        text-align: center;
        position: relative;
        top: 5rem;
        @include desktop-view {
            width: 50rem;
            height: 30rem;
            margin: 0;
            
        }

        img{
            height: 14.0625rem;
            width: auto;
            @include desktop-view{
                padding: 2rem;
                height: 36rem;
                width: auto;
            }
        }

    }

    #intro{
        position: relative;
        top: 7rem;
        text-align: center;
        height: 27.5rem;
        padding: 0 2rem;
        @include desktop-view{
            height: 85vh;
            width: 50vw;
            text-align: left;
            

        }
        h2{
            font-family:'Poppins';
            font-weight: 600;
            @include desktop-view{
                font-size: 3rem;
            }
        }

        .message{
            font-family: 'Open Sans';
            font-weight: 400;
            text-align: center;
            @include desktop-view{
                text-align: left;
                margin: 0;
                font-size: 1rem;
            }
        }
    }
}

button{
    position: relative;
    top: 2rem;
    background-color: $white;
    color: $violet;
    font-family: 'Open Sans';
    height: 2.5rem;
    width: 14rem;
    border-radius: 50px;
    box-shadow:0px 5px 5px black;
    @include desktop-view{
        top: 5rem;
        height: 3rem;
        width: 10rem;
    }
}

.social-media{
    height: 3rem;
    width: auto;
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    @include desktop-view{
       display: flex;
       flex-direction: row;
       justify-content: baseline;
    }
}

.attribution{
    position: relative;
    top: 7rem;
}