@import 'variables';
@import 'hero';

*,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $violet;
    color: $white;
    height: $mobile-height;
    width: $mobile-width;
    
    
    @include breaks(desktop){
        background-image: url(/images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

main{
    display: flex;
    flex-direction: column;
    height: $mobile-height;
    width: $mobile-width;
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @include breaks(desktop){
        display: flex;
        flex-direction: row;
        width: $desktop-width;
        height: $desktop-height;
    }
}

#logo{
    height: 2rem;
    width: 7rem;

    @include breaks(desktop) {
        height: 6rem;
        width: 8rem;
    }
}
.container{
    padding: 2rem;
    height: 16rem;
    width: $mobile-width;
    justify-content: center;
    align-items: center;

    @include breaks(desktop){
        height: 18rem;
        width: 40vw;
        justify-content: flex-start;
    }
}

#mockup {
    height: 14rem;
    width: 18rem;

    @include breaks(desktop){
        height: 18rem;
        
        
    }
}

#info{
    text-align: center;
    @include breaks(desktop){
        width: 40vw;
    }
}
.text{
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2.3rem;
    margin-right: 2.3rem;

    
}

h2, p{
    font-size: 1rem;
}

h2{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: .5rem;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.button{
    padding: 1rem;
}

.cta-button{
    height: 2.5rem;
    width: 12rem;
    background-color: $white;
    color: $soft-magenta;
    border-radius: 50px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover{
        color: $white;
        background-color: $soft-magenta;
    }
}

.social-media{
    padding: 1.5rem;
}

.fa-brands{
    font-size: 1.3rem;
    padding: .5rem;
}